.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
body {
    overflow-x: hidden;
}
header {
  background-color: #fff;
  width: 100%;
  padding: 0px 150px;
}
.image {
    width: 100%;
    cursor: pointer;
    z-index: 2;
}
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 20px;
}
.hamburger span {
    width: 100%;
    height: 4px;
    background-color: #171e28;
    transition: all 500ms;
}
.hamburger span:nth-child(2) {
    width: 70%;
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(-8px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-20px);
}
nav {
    width: 100%;
}
main {
  min-height: 100vh;
}
.landing-page {
  padding-top: 50px;
  padding-inline: 150px;
  gap: 20px;
}
.landing-h1 {
  font-family: "Courier New", Courier, monospace;
}
.companies {
  width: 100%;
}
.box {
  width: 300px;
}
.line {
  width: 100%;
  padding: 30px 150px;
  background-color: #015cde;
  color: #e2e4e8;
}
.line .div {
  padding-right: 20px;
  border-right: 2px solid #e2e4e8;
}
.line .div:last-of-type {
    border-right: none;
}
.img {
    width: 100%;
}
.down {
    background-color: #FCFCFC;
    border: 2px solid #DFDEDE;
    border-radius: 50px;
    padding-left: 10px;
}
.down img {
    cursor: pointer;
}
.question {
    gap: 40px;
}
.question .txt {
    width: 100%;
}
.email {
    position: relative;
}
.email input {
    padding: 15px 40px;
    border-radius: 30px;
    outline: 0;
    border: 2px solid #171e28;
    width: 100%;
}
.email .btn {
    position: absolute;
    border-radius: 30px;
    padding: 15px 40px;
    right: 0;
}
.faqs, .faq, .faq div {
    width: 100%;
    padding-bottom: 10px;
}
.faq {
    border-bottom: 2px solid #e2e4e8;
    padding-top: 10px;
}
.faqs .faq div {
    cursor: pointer;
}
.right {
    width: 100%;
}
footer {
    background-color: #015cde;
    color: #fff;
    padding: 20px 150px;
}
footer .links {
    padding-bottom: 30px;
    border-bottom: 2px solid #e2e4e8;
}
footer .p {
    margin-top: 20px;
}