header {
    background-color: #fff;
    width: 100%;
    padding: 0px 150px;
}
main {
    min-height: 100vh;
}
.landing-page {
    padding-top: 50px;
    padding-inline: 150px;
    gap: 20px;
}
.landing-h1 {
    font-family: 'Courier New', Courier, monospace;
}
.companies {
    width: 100%;
}
.box {
    width: 300px;
}
