@media (max-width: 1200px) {
  .header,
  .travel,
  .line,
  .landing,
  .map,
  .social,
  .customers,
  .question, footer {
    padding: 20px 50px;
  }
}
@media (max-width: 1000px) {
  .travel h1,
  .line h1,
  .landing h1,
  .map h1,
  .social h1,
  .customers h1,
  .question h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 850px) {
  .landing,
  .map,
  .customers-container,
  .question {
    flex-direction: column;
  }
  footer .links {
    gap: 20px;
    flex-wrap: wrap;
  }
  .social {
    flex-direction: column-reverse;
  }
  .map,
  .social,
  .customers h1 {
    text-align: center;
  }
  .line,
  .travel {
    flex-wrap: wrap;
    justify-content: center;
  }
  .line .div {
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .travel .div {
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .landing {
    text-align: center;
  }
}
@media (max-width: 800px) {
  header,
  nav,
  nav ul {
    flex-direction: column;
    gap: 20px;
  }
  nav {
    min-height: 200px;
    height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -1000%;
    transition: all 500ms;
  }
  nav.active {
    left: 0;
    transition: all 500ms;
  }
  .hamburger {
    display: flex;
  }
  .travel h1,
  .line h1,
  .landing h1,
  .map h1,
  .social h1,
  .customers h1,
  .question h1 {
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  .line .div:nth-child(2) {
    border-right: none;
  }
  .map .down {
    width: 100%;
  }
  .map .img img,
  .social .img img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header,
  .travel,
  .line,
  .landing,
  .map,
  .social,
  .customers,
  .question, footer {
    padding: 20px 20px;
  }
  .travel h1,
  .line h1,
  .landing h1,
  .map h1,
  .social h1,
  .customers h1,
  .question h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .line {
    justify-content: left;
    align-items: left;
  }
  .line .div {
    border-right: none;
    justify-content: left;
    align-items: left;
    border-bottom: 2px solid #e2e4e8;
  }
}
@media (max-width: 350px) {
  .map .down {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    border-radius: 0;
    padding: 10px;
  }
  .map .down div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
